.icon {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: -45px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 65px 15%;
    margin-bottom: 10px;
    text-align: center;
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    padding: 0px 10px 10px 10px;
}

.card-items {
    margin: 0;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    flex-wrap: wrap;
}

.card-items > a {
    margin: 10px;
}

.card > *:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
    pointer-events: none;
}

.card > * {
    flex: 1 1 auto;
    position: relative;
}

.content {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.content-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-items: left;
}

.content-row {
    margin-top: 3vh;
}

.content-col {
    min-width: max-content;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: left;
    align-content: space-between;
    flex-flow: column nowrap;
}

.content-col:not(:only-of-type):first-of-type {
    margin-right: 15px;
} 

.content-col > *, .content-row > * {
    flex: 1 1 auto;
    word-wrap: none;
    flex-wrap: nowrap;
}

.content-col.fit {
    max-width: max-content;
}