.icon {
    width: 155px;
    height: 155px;
    border: rgba(150, 150, 150, 0.15) solid 6px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: -45px;
    align-self: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 65px 4% 10px;
    height: 75vh;
    text-align: center;
    background: linear-gradient(0deg, #000 50%, #121212);
    border-radius: 20px;
    padding: 0px 10px 10px 10px;
}

.card:before, .card:after {
    border-radius: 20px;
    pointer-events: none;
    content: '';
	position: absolute;
	top: calc(65px - 3px);
    left: calc(4% - 3px);
    right: calc(4% - 3px);
    height: calc(75vh + 16px);
    background: radial-gradient(circle, #009688 0%, rgba(0,0,0,0) 15%), radial-gradient(circle, #009688 0%, rgba(0,0,0,0) 15%);
    background-position: bottom right, top left;
    background-size: 200% 200%, 200% 200%;
    background-repeat: no-repeat, no-repeat;
	z-index: -1;
	animation: spin 4s linear infinite;
}

.card::after {
    filter: blur(60px) saturate(2) brightness(15);
}

@keyframes spin {
    0% {
        background-position: bottom right, top left;
    }
    15% {
        background-position: bottom left, top right;
    }
    50% {
        background-position: top left, bottom right;
    }
    65% {
        background-position: top right, bottom left;
    }
    100% {
        background-position: bottom right, top left;
    }
}

.card-items {
    margin: 0;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    flex-wrap: wrap;
}

.card-items > a {
    margin: 10px;
}

.card > *:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
    pointer-events: none;
}

.card > * {
    flex: 1 1 auto;
    position: relative;
}

.content {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.content-row {
    width: 100%;
    height: min-content;
    display: flex;
    flex-wrap: nowrap;
    justify-items: left;
    margin-top: 3vh;
}

.content-col {
    min-width: max-content;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: left;
    align-content: space-between;
    flex-flow: column nowrap;
}

.content-col:not(:only-of-type):first-of-type {
    margin-right: 15px;
} 

.content-col > *, .content-row > * {
    flex: 1 1 auto;
    word-wrap: none;
    flex-wrap: nowrap;
}

.content-col.fit {
    max-width: max-content;
}