# mod_rewrite starts here (removing the file extension from page URL)

RewriteEngine on

# check if the requested filename is a directory (name conflict bad)
RewriteCond %{REQUEST_FILENAME} !-d

# check for file in directory with .html extension of same name
RewriteCond %{REQUEST_FILENAME}\.html -f

# return the actual page (ooh, regex!) -note, "[NC,L]" stands for "non case, only apply rule to above conditions"
RewriteRule ^(.*)$ $1.html [NC,L]
