/* This will be the main font face used for text */
@font-face {
    font-family: 'LatoRegular';
    src: url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}