#loading { /* Copied from stackoverflow */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    background-image: url("./index_media/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
  }

#page {
    margin: 0%;
    overflow: hidden;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('./fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #181818;
    font-weight: 200;
    font-family: 'LatoRegular';
    color: white;
    margin: 0%;
    overflow-x: hidden;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0%;
    left: 1%;
    width: fit-content;
}

textarea {
    background-color: #555454;
    font-family: 'LatoRegular';
    text-align: center;
    border: none;
    resize: none;
    color: white;
    font-size: 2em;
    outline: none;
    padding: 0.5em;
    margin: 5%;
    width: 25%;
}

#textboxlined {
    margin: auto;
    width: fit-content;
    border: 3px solid white;
    padding: 10px 65px;
    text-align: center;
}

#textboxfloat {
    margin: auto; /* top | right | bottom | left */
    width: fit-content;
    padding: 10px 65px;
    text-align: center;
}

#imagebox {
    margin: 5%;
    width: fit-content;
    border: 3px solid white;
    padding: 15px 15px;
    text-align: center;
    display: block;
}

#imagebox > img {
    transition:  all .2s ease-in-out;
}

#imagebox > img:hover {
    transform: scale(1.14);
    filter: saturate(220%);
    filter: contrast(120%);
    box-shadow: 10px 15px 5px #333333; /* offset-x | offset-y | blur-radius | color */
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.growletter > * {
    margin-top: 0%;
    margin-bottom: 0.3em;
    transition: all .35s ease-in-out; 
}

.growletter > *:hover {
    transform: scale(1.3);
}

.dead-link {
    text-decoration: line-through;
}

nav {
    display: flex;
    position: absolute;
    padding: 0%;
    width: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    height: fit-content;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #333;
    justify-content: center;
    align-items: center;
}

nav > * {
    display: flex;
    overflow: visible;
    height: inherit;
    margin: 0%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: fit-content;
    width: fit-content; /* Changed with JS */
    align-items: center;
    justify-content: center;
}

nav :hover:not(img) {
    background-color: #ddd;
    color: black;
}

nav :hover:not(.active) img {
    filter: brightness(0.2);
}

nav a.active {
    background-color: #00be9b;
    color: white;
}