#loading { /* Copied from stackoverflow */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background-image: url("./index_media/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
  }

@font-face {
    font-family: 'LatoRegular';
    src: url('fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #181818;
    font-weight: 200;
    font-family: 'LatoRegular';
    color: white
}

#textbox {
    margin: auto;
    width: fit-content;
    border: 3px solid white;
    padding: 10px 65px;
    text-align: center;
}

@keyframes growtext {
    from { transform: scale(1,1)}
    to {transform: scale(1.5,1.5)}
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.growletter {
    transition: all .5s ease-in-out; 
}

.growletter:hover {
    /* animation: growtext 1s forwards ease-in-out; */
    transform: scale(1.3);
}