#loading { /* Copied from stackoverflow */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    background-image: url("./index_media/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
  }

#page {
    margin: 0%;
    overflow: hidden;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('./fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #181818;
    font-weight: 200;
    font-family: 'LatoRegular';
    color: white;
    margin: 0%;
    overflow-x: hidden;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0%;
    left: 1%;
    overflow: visible;
    width: fit-content;
    margin: 1%;
    padding: 0px;
    background-image: url('./index_media/icons/mstile-150x150.png');
    background-size: 150px 150px;
    background-position: center;
    background-clip: inherit;
}
footer > * {
    text-align: left;
    margin: inherit;
    padding: inherit;
    overflow: hidden;
}

textarea {
    background-color: #555454;
    font-family: 'LatoRegular';
    text-align: center;
    border: 4.5px solid transparent;
    resize: none;
    color: white;
    font-size: 2em;
    outline: none;
    padding: 0.5em;
    margin: 5%;
    width: 25%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#textboxlined {
    margin: auto;
    width: fit-content;
    border: 3px solid white;
    padding: 10px 65px;
    text-align: center;
}

#textboxfloat {
    margin: auto; /* top | right | bottom | left */
    width: fit-content;
    padding: 10px 65px;
    text-align: center;
}

#imagebox {
    margin: 5%;
    width: fit-content;
    border: 3px solid white;
    padding: 15px 15px;
    text-align: center;
    display: block;
}

#imagebox > img {
    transition:  all .2s ease-in-out;
}

#imagebox > img:hover {
    transform: scale(1.14);
    filter: saturate(220%);
    filter: contrast(120%);
    box-shadow: 10px 15px 5px #333333; /* offset-x | offset-y | blur-radius | color */
}

#teaser {
    color: red;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

.download {
    background-color: #393939;
    font-family: 'LatoRegular';
    text-align: center;
    text-decoration: none;
    border: none;
    resize: none;
    color: white;
    font-size: 2em;
    outline: none;
    padding: 0.5em;
    width: 25%;
}

.download > img {
    filter: brightness(500%) grayscale(100%)
}

.download:hover {
    box-shadow: 2px 4px 3.4px #2e2d2d;
}

.download:active {
    background-color: #00be9b;
    color: black;
}

.download:active > img {
    filter: brightness(-500%) grayscale(100%)
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center > * {
    display: block;
    margin: auto;
}

.growletter > * {
    margin-top: 0%;
    margin-bottom: 0.3em;
    transition: all .35s ease-in-out; 
}

.growletter > *:hover {
    transform: scale(1.3);
}
