/* This contains the loading screen animation used for all pages
 * taken from: https://www.youtube.com/watch?v=1Aq9OJuS3ok
 */

@import "fonts.css";
#loading {
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
}
#loading > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: 111;
}
#loading-effect {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading-effect p {
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: "LatoRegular", consolas;
    bottom: -120px;
    letter-spacing: 0.20em;
}

/* Ring effects from here on */
#loading-effect .ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent; /* change "transparent" to any color to see full ring track */
}
/* Top ring */
#loading-effect .ring:first-child {
    border-top: 4px solid #24ecff; /* controls the tail color */
    animation: spin1 4s linear infinite;
}
#loading-effect .ring::before { /* the leading "head" dot */
    content: '';
    position: absolute;

    /* controls where the dot is on the line */
    top: 12px;
    right: 12px;

    border-radius: 50%; /* makes it a circle */
    width: 15px;
    height: 15px;
    background: #24ecff;

    /* controls the glow */
    box-shadow: 0 0 0 5px #24ecff33,
                0 0 0 10px #24ecff22,
                0 0 0 20px #24ecff11,
                0 0 20px #24ecff,
                0 0 50px #24ecff;
}
@keyframes spin1 {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* Bottom right ring */
#loading-effect .ring:nth-child(2) {
    animation: spin2 4s linear infinite;
    animation-delay: -1s;
    border-left: 4px solid #93ff2d; /* controls the tail color */
}
#loading-effect .ring:nth-child(2):before { /* the leading "head" dot */
    content: '';
    position: absolute;

    /* controls where the dot is on the line */
    top: initial;
    bottom: 12px;
    left: 12px;

    border-radius: 50%; /* makes it a circle */
    width: 15px;
    height: 15px;
    background: #93ff2d;

    /* controls the glow */
    box-shadow: 0 0 0 5px #93ff2d33,
                0 0 0 10px #93ff2d22,
                0 0 0 20px #93ff2d11,
                0 0 20px #93ff2d,
                0 0 50px #93ff2d;
}
@keyframes spin2 {
    0% { transform: rotate(360deg);}
    100% { transform: rotate(0deg);}
}

/* Bottom left ring */
#loading-effect .ring:nth-child(3) {
    /* Sets the position of this ring, which pushes the other rings into place */
    position: absolute;
    top: -66.66px;

    animation: spin2 4s linear infinite;
    animation-delay: -3s;
    border-left: 4px solid #e41cf8; /* controls the tail color */
}
#loading-effect .ring:nth-child(3)::before { /* the leading "head" dot */
    content: '';
    position: absolute;

    /* controls where the dot is on the line */
    top: initial;
    bottom: 12px;
    left: 12px;

    border-radius: 50%; /* makes it a circle */
    width: 15px;
    height: 15px;
    background: #e41cf8;

    /* controls the glow */
    box-shadow: 0 0 0 5px #e41cf833,
                0 0 0 10px #e41cf822,
                0 0 0 20px #e41cf811,
                0 0 20px #e41cf8,
                0 0 50px #e41cf8;
}