@font-face {
    font-family: 'LatoRegular';
    src: url('./fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.dead-link {
    text-decoration: line-through;
}

nav {
    font-family: 'LatoRegular';
    display: flex;
    position: absolute;
    padding: 0%;
    width: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    height: fit-content;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #333;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav > * {
    display: flex;
    overflow: visible;
    height: inherit;
    margin: 0%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: max-content;
    width: fit-content; /* Changed with JS */
    align-items: center;
    justify-content: center;
}

nav :hover:not(img) {
    background-color: #ddd;
    color: black;
}

nav :hover:not(.active) img {
    filter: brightness(0.0);
}

nav > * > img {
    filter: brightness(500%) grayscale(100%)
}

nav > *:hover:not(.active) > img {
    filter: brightness(-500%) grayscale(100%)
}
nav a.active {
    background-color: #00be9b;
    color: white;
}