.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    align-items: center;
}

.heading > h2 {
    display: inline-block;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.heading > img {
    margin-left: auto;
    margin-right: 0px;
    display: inline-block;
    width: 200px;
    transition: 0.35s;
}

.heading > img:hover {
    filter: contrast(200%);
    transform: translateX(-5px) translateY(-5px);
    box-shadow: 10px 10px 5px gray;
}

body {
    background-color: rgb(213, 45, 45);
    background-image: url('elon-face.jpg');
    background-size: 10%;
    background-repeat: repeat;
    color: azure;
}

body > * {
    margin-left: 5%;
    margin-right: 5%;
}

body > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}